In [2]:
import db4
import pandas as pd

In [3]:
start_datetime = '2024-11-23 10:00'
end_datetime = '2024-11-25 10:00'

query = f"""
select * from program_rates
"""

In [4]:
df=pd.DataFrame(db4.select(query))

In [5]:
df

,id,program_id,schedule_id,rate_date,youtube_rate,tiktok_rate,youtube_views,youtube_likes,youtube_comments
0,1,None,2,None,None,None,10730,226,62
1,2,None,3,None,None,None,18955,267,29
2,3,None,4,None,None,None,5713,60,8
3,4,None,5,None,None,None,3276,58,17
4,5,None,1,None,None,None,1156,12,3
5,6,None,6,None,None,None,12237,100,8
6,7,None,7,None,None,None,40550,397,72
7,8,None,8,None,None,None,381333,3654,155
8,9,None,9,None,None,None,2800,87,16
9,10,None,10,None,None,None,57694,770,76
10,11,None,11,None,None,None,616770,7885,547

In [ ]:
def assess_youtube_popularity(df):
    if not all(col in df.columns for col in ['youtube_views', 'youtube_likes', 'youtube_comments']):
        raise ValueError("DataFrame must contain 'youtube_views', 'youtube_likes', and 'youtube_comments' columns.")

    popularity_score = (
        0.6 * df['youtube_views'] +
        0.4 * df['youtube_likes'] +
        0.2 * df['youtube_comments']
    ) / 1000

    return popularity_score

df['youtube_rate'] = assess_youtube_popularity(df)

for _, row in df.iterrows():
    id = row['id']
    rate = row['youtube_rate']
    update_query = "UPDATE program_rates SET youtube_rate = %s WHERE id = %s"
    db4.insert(update_query, (rate, id))

In [9]:
df

,id,program_id,schedule_id,rate_date,youtube_rate,tiktok_rate,youtube_views,youtube_likes,youtube_comments
0,1,None,2,None,6.5408,None,10730,226,62
1,2,None,3,None,11.4856,None,18955,267,29
2,3,None,4,None,3.4534,None,5713,60,8
3,4,None,5,None,1.9922,None,3276,58,17
4,5,None,1,None,0.6990,None,1156,12,3
5,6,None,6,None,7.3838,None,12237,100,8
6,7,None,7,None,24.5032,None,40550,397,72
7,8,None,8,None,230.2924,None,381333,3654,155
8,9,None,9,None,1.7180,None,2800,87,16
9,10,None,10,None,34.9396,None,57694,770,76
10,11,None,11,None,373.3254,None,616770,7885,547

In [78]:
query = "INSERT INTO stream_scraping_ids (id, stream_id, stream_name) VALUES (%s, %s, %s)"

for _, row in streams.iterrows():
    stream_id = row['id']      
    stream_name = row['full_name']  
    sds_id = row['sds']     
    db4.insert(query, (sds_id, stream_id, stream_name))

Connection to the PostgreSQL database
Connection to the PostgreSQL database
Connection to the PostgreSQL database
Connection to the PostgreSQL database
Connection to the PostgreSQL database
Connection to the PostgreSQL database
Connection to the PostgreSQL database

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--headless") 
chrome_options.add_argument("--disable-gpu")

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
driver.get("https://www.cbcsport.az/")

driver.implicitly_wait(10)

schedule_data = []

elements = driver.find_elements(By.XPATH, '//div[@class="swiper-slide swiper-slide-active"]//div[@class="tv-program-block"]')

daily_programs={}
for element in elements:
    try:
        time = element.find_element(By.XPATH, './/span[@class="d-flex align-items-center"]').text.strip()
        description = element.text.replace(time, "").strip()

        if time and description:
            daily_programs[time]=f"{description}"
    except:
        continue

driver.quit()

[]

In [47]:
len(schedule_data)

14

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

# Configure Chrome options if needed
chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument("--headless")  # Run in headless mode (optional)
chrome_options.add_argument("--disable-gpu")

# Set up Selenium WebDriver using ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
driver.get("https://www.cbcsport.az/")

# Wait for the elements to load
driver.implicitly_wait(10)

# Initialize an empty list to store the program data
schedule_data = []

# Use XPath to find today's schedule elements
elements = driver.find_elements(By.XPATH, '//div[@class="swiper-slide swiper-slide-active"]//div[@class="tv-program-block"]')

# Loop through the elements and extract time and description
for element in elements:
    try:
        time = element.find_element(By.XPATH, './/span[@class="d-flex align-items-center"]').text.strip()
        description = element.text.replace(time, "").strip()

        # Only append if time and description are not empty
        if time and description:
            schedule_data.append({"time": time, "program": description})
    except:
        print(time,description)
        continue

# Close the browser
driver.quit()

# Print the collected data
print(schedule_data)

[{'time': '02:00', 'program': 'İtaliya A Seriyası, 14-cü tur: Udineze – Cenoa'}, {'time': '05:00', 'program': 'İtaliya A Seriyası, 14-cü tur: Fiorentina – İnter'}, {'time': '09:30', 'program': 'CBC Sport İnfo (canlı)'}, {'time': '10:00\nCANLI', 'program': 'Ay həkim (premyera)'}, {'time': '12:00', 'program': 'CBC Sport İnfo (canlı)'}, {'time': '14:30', 'program': 'CBC Sport İnfo (canlı)'}, {'time': '17:00', 'program': 'CBC Sport İnfo (canlı)'}]